[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest
pytest-asyncio
pytest-aiohttp

[packages]
aiofiles
aiohttp
av
backoff
click
m3u8
pycryptodome
progress
yarl

[requires]
python_version >= "3.6"
